<!-- <div *ngFor="let pokemon of mostrarPokemon">
    <h1>{{ pokemon.name }}</h1>
    <button (click)="llamarImagenPokemonPorUrl">ABIR POKEMON</button>
    <hr>
</div> -->

<!-- <div *ngif="responseView">
    {{ responseView.count }}
</div> -->
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="card col-lg-3" id="card" *ngFor="let pokemon of mostrarPokemon">
      <img class="card-img-top" [src]='pokemon.image' alt="Image Pokemon">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Abilities</a>
      </div>
    </div>
  </div>
</div>
